{
  "version": 2,
  "plugins": {
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-25T12:07:24.781Z",
        "lastUpdated": "2026-01-25T12:07:24.781Z",
        "gitCommitSha": "96276205880a60fd66bbae981f5ab568e70c4cbf"
      }
    ],
    "ralph-loop@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/ralph-loop/96276205880a",
        "version": "96276205880a",
        "installedAt": "2026-01-25T12:07:24.835Z",
        "lastUpdated": "2026-01-25T12:07:24.835Z",
        "gitCommitSha": "96276205880a60fd66bbae981f5ab568e70c4cbf"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/4.1.1",
        "version": "4.1.1",
        "installedAt": "2026-02-03T19:32:32.707Z",
        "lastUpdated": "2026-02-03T19:32:32.707Z",
        "gitCommitSha": "06b92f36820f38175b2ed6ff3f8df45157d54731"
      }
    ]
  }
}
